<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <title></title>
</head>
<body>
<main class="container-fluid" id="main_signup" dir="rtl">
    <div class="row align-items-center" id="signup">
        <div class=" col-md-4 text-left mx-auto"  >
            <div class="collapse text-right" id="collapseGallery">
                <span class="d-block mb-3">
                    <a href=""  class="d-inlineblock">
                        عکس های نخستین جشنواره
                    </a>
                </span>
                <span class="d-block">
                    <a href="" class="d-inlineblock">
                        تـصــویــر جشـــنــواره
                    </a >
                </span>

            </div>


            <div class="collapse float-left" id="collapseExample" >
                <a class="btn btn-primary d-block mb-1" data-toggle="collapse" href="#collapseLogin" role="button" aria-expanded="false" aria-controls="collapseLogin">ورود</a>
                <a class="btn btn-primary " data-toggle="collapse" href="#collapseSignup" role="button" aria-expanded="false" aria-controls="collapseSignup"      >ثبت نام</a>
            </div>

            <form class="collapse" id="collapseLogin">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >ایمیل</span>
                    </div>
                    <input type="text" class="form-control" name="email" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >رمز عبور</span>
                    </div>
                    <input type="password" class="form-control" name="pass" />
                </div>
                <input class="btn btn-success" type="submit" value="ورود" />
            </form>

            <form class="collapse" id="collapseSignup">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >نام</span>
                    </div>
                    <input type="text" class="form-control" name="fname" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >نام خانوادگی</span>
                    </div>
                    <input type="text" class="form-control" name="lname" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >ایمیل</span>
                    </div>
                    <input type="text" class="form-control" name="email" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >رمز عبور</span>
                    </div>
                    <input type="password" class="form-control" name="pass" />
                </div>
                <input class="btn btn-success" type="submit" value="ثبت نام" />
            </form>

        </div>
        <div class="col-md-4 text-center mx-auto">

        </div>
        <div class="col-md-4 text-left mx-auto">
            <ul class=" nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >ثبت نام</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ارسال عکس</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#collapseGallery" role="button" aria-expanded="true" aria-controls="collapseGallery" >گالری</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">اخبار</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">فراخوان</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ارکان جشنواره</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">مدیریت</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">داوران</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">خانه</a>
                </li>
            </ul>
        </div>
    </div>

</main>
<footer class="container" dir="rtl">
    <div class="row pt-4">

        <div class="col-md-3">
            <b class="d-block">پیوندها</b>
            <a href="" class="d-block">وب سایت آستان قدس رضوی</a>
            <a href="" class="d-block">وب سایت حرم مطهر</a>
            <a href="" class="d-block">سایت شفافیت بنیاد بهره وری موقوفات</a>
            <a href="" class="d-block">سایت شفافیت خبری آستان قدس</a>
            <a href="" class="d-block">سایت سیاست های کلان آستان قدس رضوی</a>
        </div>
        <div class="col-md-3">
            <b class="d-block">ارتباط با ما</b>
            <p class="m-0 text-justify">مشهد . چهارراه شهدا . سازمان مرکزی آستان قدس رضوی . معاونت طرح و برنامه 051-3225058 . 051-32001146 </p>
            <a href="mailto:tarh.bamame@aqrazavi.org">tarh.bamame@aqrazavi.org</a>
        </div>
        <div class="col-md-2 align-items-center text-justify">
            <b>&nbsp;</b>
            <p>تمام حقوق این وبگاه متعلق به آستان قدس رضوی است</p>
        </div>
        <div class="col-md-2">
            <b class="d-block">لینک ها</b>
            <a href="" class="d-block">اخبار و اطلاعیه</a>
            <a href="" class="d-block">ارتباط با ما</a>
            <a href="" class="d-block">آشنایی با آستان قدس رضوی</a>
            <a href="" class="d-block">سوالات متداول</a>
            <a href="" class="d-block">راهنمای اصلاحات سامانه</a>
        </div>
        <div class="col-md-2">
            <img src="images/logo_aq.png" class="img-fluid" />
        </div>

    </div>
</footer>

<script src="js/jquery.slim.min.js" ></script>
<script src="js/bootstrap.bundle.min.js" ></script>
</body>
</html>